# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
dist/
build/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editors / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Test
coverage/

# Misc
*.tsbuildinfo
